
$color-primary: #21324E; //#18c79c #20a0ff
$background-color: #1F3D6B;
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  min-width: 1000px;

  .header1 {
    height: 20px;
    line-height: 20px;
    background: #000;
    color: #fff;
    .left {
      float: left;
      margin-left: 5px;
    }
    .right {
      float: right;
      margin-right: 5px;
    }
  }

  .header2 {
    width: 100%;
    height: 70px;
    line-height: 60px;
    background: $color-primary;
    background: url(../assets/image/head-background.jpg);
    background-size: cover;
    color: #fff;
    display: flex;
    .left {
      width: 180px;
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      vertical-align: middle;
      justify-content: center;
      align-items: center; 
      img{
        width: 140px;
        height: 24px;
      }
    }
    .right {
      display: flex;
      vertical-align: middle;
      padding-left: 20px;
      width: 100%;
      text-align: center;
      align-items: center;  
      flex-flow: row;
      .menuDiv{
        text-align: center;
        margin-right: 20px;
        height: 50px;
        a {
          text-decoration:none;
          // flex: 1.8;
          // &:last-child{
          //   flex: 2;
          // }
          
          &.active{
            .nav-li{
              .nav-txt{
                border-bottom: 2px solid #fff; 
              }
            }
          }
          .nav-li {
            display: inline-block;
            color: #fff;
            margin-right: 0px;
            .nav-icon{
              background: url(../assets/image/pms-nav.png);
              width: 70px;
              height: 40px;
              margin: 7px 0 0 0;
            }
            .nav-img{
              width: 30px;
              height: 30px;
              display: block;
              margin: auto;
            }
            .nav-txt{
              font-size: 14px;
              width: auto;
              line-height: 20px;
              text-align: center;
              padding: 3px 0;
              margin-right: 0px;
              &:hover{
                border-bottom: 2px solid #fff;
              }
            }
            
          }
          
        }
      }
      
    }
  }
  .house-content {
    height: calc(100% - 98px);
  }
  .main {
    display: flex;
    // background:#324057;
    position: absolute;
    top: 80px;
    bottom: 0;
    overflow: hidden;

    aside {
      flex: 0 0 150px;
      width: 150px;
      // position:absolute;
      // top:0 px;
      // bottom:0 px;

      .el-menu {
        height: 100%;
      }

      .collapsed {
        width: 60px;

        .item {
          position: relative;
        }

        .submenu {
          position: absolute;
          top: 0;
          left: 60px;
          z-index: 99999;
          height: auto;
          display: none;
        }

      }
    }
    .menu-collapsed {
      flex: 0 0 60px;
      width: 60px;
    }

    .menu-expanded {
      flex: 0 0 150px;
      width: 150px;
    }

    .content-container {
      flex: 1;
      overflow-y: scroll;
      padding: 20px;

      .breadcrumb-container {
        margin-bottom: 15px;

        .title {
          width: 200px;
          float: left;
          color: #475669;
        }

        .breadcrumb-inner {
          float: right;
        }

      }
      .content-wrapper {
        width: 100%;
        background-color: #fff;
        box-sizing: border-box;
      }

    }
  }
  .line-footer{
    width: 100%;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    background-color: $color-primary;
    color: #fff;
    padding: 0 5px;
    span{
      margin-left: 10px;
    }
  }
}

.el-tabs__nav-scroll{
  padding: 0 10px;
  .el-tabs__nav{
    .el-tabs__item:hover{
      color: $color-primary;
    }
    .el-tabs__item.is-active{
      color: $color-primary;
    }
    .el-tabs__active-bar{
      background-color: #f60;
    }
  }
}
