$color-primary: #F60; //#18c79c #20a0ff


.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  min-width: 1000px;

  .header1 {
    height: 20px;
    line-height: 20px;
    background: #000;
    color: #fff;
    .left {
      float: left;
      margin-left: 5px;
    }
    .right {
      float: right;
      margin-right: 5px;
    }
  }

  .header2 {
    height: 80px;
    line-height: 80px;
    background: $color-primary;
    color: #fff;
    .left {
      // width:230 px;
      height: 60px;
      //font-size: 22px;
      padding-left: 20px;
      padding-right: 20px;
      float: left;
      padding-top: 10px;
      a {
        float: left;
        margin: 0 5px;
        text-decoration:none;
        div {
          color: #fff;
        }
      }
    }
    .right {
      // width:230 px;
      height: 80px;
      //font-size: 22px;
      padding-left: 20px;
      // padding-right: 20px;
      float: right;
      a {
        float: left;
        height: 80px;
        text-decoration:none;
        .nav-li {
          color: #fff;
        }
        .nav-icon{
          background: url(../assets/image/pms-nav.png);
          width: 70px;
          height: 40px;
          margin: 7px 0 0 0;
        }
        .nav-txt{
          width: 70px;
          height: 20px;
          line-height: 20px;
          text-align: center;
        }
        .home-icon{
          background-position: 0px -10px;
        }
        .atrial-center-icon{
          background-position: 0px -10px;
        } 
        .wx-open-icon {
          background-position: -55px -10px;
        }
        .reserve-manage-icon {
          background-position: -115px -10px;
        }
        .check-manage-icon {
          background-position: -170px -10px;
        } 
        .customer-relation-icon {
          background-position: -238px -10px;
        } 
        .sms-marketing-icon {
          background-position: -853px -10px;
        } 
        .report-center-icon{
          background-position: -307px -10px;
        }  
        .financial-audit-icon {
          background-position: -366px -10px;
        } 
        .dumb-house-icon{
          background-position: -427px -10px;
        }
        .commodity-dept-icon {
          background-position: -488px -10px;
        } 
        .stock-icon{
          background-position: -546px -10px;
        }  
        .conference-room-icon{
          background-position: -606px -10px;
        }  
        .operators-icon{
          background-position: -665px -10px;
        }  
        .system-set-icon{
          background-position: -722px -10px;
        }  
        .linen-icon{
          background-position: -785px -10px;
        }
        .more-icon {
          background-position: -905px -10px;
        }
      }
    }
  }

  .main {
    display: flex;
    // background:#324057;
    position: absolute;
    top: 80px;
    bottom: 0;
    overflow: hidden;

    aside {
      flex: 0 0 150px;
      width: 150px;
      // position:absolute;
      // top:0 px;
      // bottom:0 px;

      .el-menu {
        height: 100%;
      }

      .collapsed {
        width: 60px;

        .item {
          position: relative;
        }

        .submenu {
          position: absolute;
          top: 0;
          left: 60px;
          z-index: 99999;
          height: auto;
          display: none;
        }

      }
    }
    .menu-collapsed {
      flex: 0 0 60px;
      width: 60px;
    }

    .menu-expanded {
      flex: 0 0 150px;
      width: 150px;
    }

    .content-container {
      /*background: #f1f2f7;*/
      flex: 1;
      // position:absolute;
      // right:0 px;
      // top:0 px;
      // bottom:0 px;
      // left:230 px;
      overflow-y: scroll;
      padding: 20px;

      .breadcrumb-container {
        margin-bottom: 15px;

        .title {
          width: 200px;
          float: left;
          color: #475669;
        }

        .breadcrumb-inner {
          float: right;
        }

      }
      .content-wrapper {
        width: 100%;
        background-color: #fff;
        box-sizing: border-box;
      }

    }
  }

}

.el-tabs__nav-scroll{
  padding: 0 10px;
  .el-tabs__nav{
    .el-tabs__item:hover{
      color: #f60;
    }
    .el-tabs__item.is-active{
      color: #f60;
    }
    .el-tabs__active-bar{
      background-color: #f60;
    }
  }
}
