@import "../assets/scss/scroll.scss";
$color-primary   : #21324E; //#18c79c #20a0ff
$background-color: #1F3D6B;

.ylDialog {
    bottom: 0;
    width : 300px;
    border: 1px solid $color-primary;

    .el-dialog__header {
        color           : white;
        background-color: $background-color;
        padding         : 10px;
    }

    .el-dialog__body {
        padding: 0 0px;
    }

    .el-dialog__title {
        color      : white;
        font-size  : 15px;
        line-height: 15px;
    }

    .el-dialog__headerbtn {
        top  : 10px;
        right: 10px;

        .el-dialog__close {
            color: white;
        }
    }

    .el-table {
        .cell {
            font-size: 12px;
            padding  : 0;
        }
    }
}

.el-table {
    td {
        padding: 6px 0;
    }
}

.height-programme-one,
.height-programme-one .el-tabs,
.height-programme-one .el-tabs .el-tabs__content {
    height: 100%;
}

.height-programme-one {
    .aLayerOfPage {
        height  : calc(100% - 80px);
        overflow: auto;
    }

    .twoLayerOfPage {
        height: 100%;

        .height-programme-one {
            .el-tabs {
                .el-tabs__content {
                    height  : calc(100% - 120px);
                    overflow: auto;
                }
            }
        }
    }
}

.el-step.is-vertical {
    .el-step__head{
        width: 16px;
        &.is-finish{
            color: #21324E;
            border-color: #21324E;
        }
    }
    .el-step__line{
        width: 2px;
        top: 20px;
        bottom: -96px;
        left: 7px;
    }
    .el-step__icon{
        width: 15px;
        height: 15px;
    }
    .el-step__description {
        &.is-finish{
            color: #21324E;
        }
    }
}

.el-radio{
    .is-checked{
        .el-radio__input{
            &.is-checked{
                .el-radio__inner{
                    border-color: #21324E;
                    background: #21324E;
                }
            }
        } 
        .el-radio__label{
            color: #21324E;
        }
    }
}

.el-input__prefix {
    left: -2px;

    .el-input__inner {
        padding     : 0 5px;
        padding-left: 19px;
    }
}

.el-input--suffix {
    .el-input__inner {
        padding-right: 13px;
    }
}

.el-menu--horizontal {
    .el-menu-item {
        height     : 40px;
        line-height: 40px;
    }
}

.menu-content {
    overflow-y: scroll;
    height    : calc(100% - 42px);
    padding   : 10px;
}

.primary-tool {
    padding         : 10px 0;
    background-color: #ffffff;
    border-bottom   : 1px solid #eceaea;
}

.container-nev {
    padding: 20px 15px;
}

.block {
    // margin-left: 13px;
    margin-bottom : 20px;
}
.el-tabs__item.is-active{
    color           : #1F3D6B;
}
.el-tabs__item:hover{
    color           : #1F3D6B;
}
.el-form.demo-form-inline{
    .el-form-item--mini.el-form-item{
        margin-bottom: 10px;
        .el-button--mini{
            color           : #fff;
            border-color    : #21324E;
            background-color: #1F3D6B;
        }
    }
}
.el-button:focus,
.el-button:hover {
    color           : #fff;
    border-color    : #21324E;
    background-color: #1F3D6B;
}
.el-input--prefix .el-input__inner{
    padding-left: 20px;
}
.el-date-editor--datetime{
    .el-input__suffix{
        right: -2px;
    }
}   
